doctype html

html
  head
    title= title
  body
    ul
      li
        a(href="/") index
      if user
        li
          a(href="/logout") logout
      else
        li
          a(href="/login") login
        li
          a(href="/signup") sign up
      li
        a(href="/series") series
    h1= message
    block content
      if user
        h2 hello #{user._id}

