doctype html
html
  head
    title= title
  body
    ul
      li
        a(href="/") index
      li
        a(href="/login") login
      li
        a(href="/logout") logout
      li
        a(href="/register") register
    block content
      h1= message
      if user
        h2 hello #{user._id}

