extends ./index.jade

block content
  h1 #{message} !!
  if errors.error
    h2 #{errors.error}
  form(action="/login" method="post")
    fieldset
      input(type="text" name="login")
      input(type="password" name="password")
      input(type="hidden" name="_csrf" value="#{_csrf}")
      input(type="submit")
