extends ./index

block content
  if errors.userExists
    h2 #{errors.userExists}
  form(action="/signup" method="post")
    fieldset
      input(type="text" name="login")
      if errors.login
        span.error #{errors.login}
      input(type="password" name="password")
      if errors.password
        span.error #{errors.password}
      input(type="hidden" name="_csrf" value="#{_csrf}")
      input(type="submit")

